# Quiz 4

Name


NetID

Load the packages and import the necessary data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.formula.api as smf

from plotnine import *
%matplotlib inline

In [2]:
#Import the data 

df1 = pd.read_stata('https://github.com/QuantEcon/lecture-python/blob/master/source/_static/lecture_specific/ols/maketable1.dta?raw=true')
df1.head()

,shortnam,euro1900,excolony,avexpr,logpgp95,cons1,cons90,democ00a,cons00a,extmort4,logem4,loghjypl,baseco
0,AFG,0.000000,1.0,NaN,NaN,1.0,2.0,1.0,1.0,93.699997,4.540098,NaN,NaN
1,AGO,8.000000,1.0,5.363636,7.770645,3.0,3.0,0.0,1.0,280.000000,5.634789,-3.411248,1.0
2,ARE,0.000000,1.0,7.181818,9.804219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARG,60.000004,1.0,6.386364,9.133459,1.0,6.0,3.0,3.0,68.900002,4.232656,-0.872274,1.0
4,ARM,0.000000,0.0,NaN,7.682482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df1.describe()

,euro1900,excolony,avexpr,logpgp95,cons1,cons90,democ00a,cons00a,extmort4,logem4,loghjypl,baseco
count,154.000000,162.000000,121.000000,148.000000,88.000000,88.000000,87.000000,91.000000,87.000000,87.000000,123.000000,64.0
mean,30.466232,0.666667,7.066491,8.302509,3.590909,3.636364,1.149425,1.857143,220.926437,4.595984,-1.731106,1.0
std,42.389839,0.472866,1.804287,1.105342,2.414688,2.339967,2.576858,1.823131,411.498260,1.303333,1.083726,0.0
min,0.000000,0.000000,1.636364,6.109248,1.000000,1.000000,0.000000,1.000000,2.550000,0.936093,-3.540459,1.0
25%,0.000000,0.000000,5.886364,7.376192,1.000000,1.750000,0.000000,1.000000,68.350006,4.224609,-2.741120,1.0
50%,1.950000,1.000000,7.045455,8.265764,3.000000,3.000000,0.000000,1.000000,85.000000,4.442651,-1.560648,1.0
75%,91.625000,1.000000,8.272727,9.216228,7.000000,7.000000,1.000000,1.000000,253.259995,5.610119,-0.831277,1.0
max,100.000000,1.000000,10.000000,10.288750,7.000000,7.000000,10.000000,7.000000,2940.000000,7.986165,0.000000,1.0

How do we measure institutional differences and economic outcomes?



Economic outcomes are proxied by log GDP per capita in 1995, adjusted for exchange rates. (logpgp95)

institutional differences are proxied by an index of protection against expropriation on average over 1985-95, constructed by the Political Risk Services Group.(avexpr)

# Question 1

Let's get a scatterplot going on. Let's plot a scatterplot that is relevant to the question of how predictive is the index of protection against exploitation to the log GDP per capita. (you might want to drop NANs)

# Question 2

Based on the plot above. Compute the regression we need to see the predictability. Print the summary, then print the coefficients on their own. Are they significant?

Let's see their confidence intervals to assess significance:

The *avexpr* parameter is very significant!

# Question 3

Make a plot of the regression line and the scatterplot. How well do we think the regression line fits the data?

# Question 4

Can you find another variable that you can use in tandem with avexpr to increase the prediction power of the regression